<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
  </head>
  <body>
    <% include ./menubar %>
    <div class="container" style="padding-top: 70px;">
        <div class="row">
          <div class="col-sm">
            <a class="btn btn-info" href="#">1. valasz</a>
          </div>
          <div class="col-sm">
            <a class="btn btn-info" href="#">2. valasz</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <a class="btn btn-info" href="#">3. valasz</a>
          </div>
          <div class="col-sm">
            <a class="btn btn-info" href="#">4. valasz</a>
          </div>
        </div>
    </div><!-- /.container -->
    <% include ./footer %>
  </body>
</html>
