<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
  </head>
  <body>
    <% include ./menubar %>
    <div class="container" style="padding-top: 70px;">
      <div class="starter-template">
        <h1>Súgó</h1>
        Hogyan kell használni.
      </div>
    </div><!-- /.container -->
      <div class="container" style="padding-top: 70px;">
      <div class="starter-template">
        <% include ./version.ejs %>
    </div><!-- /.container -->
    <% include ./footer %>
  </body>
</html>
