
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">MathQuiz</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Játék</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Statisztikák</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Súgó</a>
        </li>
      </ul>
      <a class="btn btn-outline-info my-2 my-sm-0" href="/logout">Kijelentkezés</a>
    </div>
  </nav>
