<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
  </head>

  <body>

    <div class="container">

      <form action="/register" method="post" class="form-signin">
        <h2 class="form-signin-heading">Regisztráció</h2>
        <label for="inputUsername" class="sr-only">Felhasználónév</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Felhasználónév" required autofocus>
        <label for="inputAge" class="sr-only">Életkor</label>
        <input type="text" name="age" id="inputAge" class="form-control" placeholder="Életkor" required >
        <label for="inputPassword" class="sr-only">Jelszó</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Jelszó" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Regisztráció</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
