<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
  </head>
  <body>
    <% include ./menubar %>
    <div class="container" style="padding-top: 70px;">
      <div class="starter-template">
        <h1>Kvíz Játék</h1>
        <p class="lead">Játék kezdéséhez csatlakozz egy szobához!</p>
        <table style="width: 80%">
          <tr>
            <th>Szobanév</th>
            <th>Játékosok</th>
            <th>Státusz</th>
          </tr>
          
          
          <% rooms.forEach(function(room) { %>
			<tr>
				<td><%= room.name %></td>
				<td><%= room.users.length %>/4</td>
				<td><%= room.state %></td>
				<td><a href="/join?id=<%= room._id %>">Csatlakozás</a></td>
			</tr>
		  <% }); %>

        </table>
      </div>
    </div><!-- /.container -->
    <% include ./footer %>
  </body>
</html>
