<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head %>
  </head>
  <body>
    <% include ./menubar %>
    <div class="container" style="padding-top: 70px;">
      <div class="starter-template">
        <h1>Statisztika</h1>
        Globális statisztika minden játékost összevetve.
      </div>
    </div><!-- /.container -->
    <% include ./footer %>
  </body>
</html>



