<p><strong>V1.0: </strong></p>
      <ul style="list-style-type: none;">
        <li>Regisztráció</li>
        <li>Profil törlés</li>
        <li>Szoba létrehozás</li>
        <li>Játék</li>
        <li>Ranglista</li>
      </ul>

<p><strong>V0.2: </strong></p>
      <ul style="list-style-type: none;">
        <li>HTTPS</li>
        <li>Bejelentkezés</li>
        <li>Felhasználók létrehozása</li>
        <li>Kérdések generálása</li>
        <li>Weblap</li>
      </ul>

<p><strong>V0.1: </strong></p>
      <ul style="list-style-type: none;">
        <li>MongoDB + NodeJs + Nginx</li>
        <li>Hosting</li>
        <li>Collection-ok kidolgozása</li>
      </ul>
